/* ====== General ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: var(--midnight-blue) !important;
    font-family: 'Cormorant SC', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/************ Navbar Css ************/
header {
    height: 100px;
    background: var(--nav-background);
    /*box-shadow: 2px 2px 10px 2px var(--eucalyptus);*/
}
.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10px 20px;
    height: 85px;
}

header .nav-area .logo {
    padding: 25px;
    width: 7.5rem;
}

header .nav-area .logo img {
    width: 100%;
}

.nav-area a:hover {
    background: url('./assets/menu_hover.png') no-repeat center bottom;
    cursor: pointer;
}

.menus {
    display: flex;
    list-style: none;
}

.menu-items {
    position: relative;
    font-size: 20px;
}

.menu-items a {
    display: block;
    font-family: 'Cormorant SC', serif !important;
    font-size: inherit;
    color: var(--lt-lavender);
    text-decoration: none;
}

.menu-items button {
    color: var(--lt-lavender);
    font-family: 'Cormorant SC', serif !important;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.menu-items a,
.menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: var(--midnight-blue);
    background: url('./assets/menu_hover.png') no-repeat center bottom;
    cursor: pointer;
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}

.dropdown.hide {
    position: absolute;
    display: none;
}

.dropdown.show {
    display: block;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: var(--lt-blue);
    color: var(--lt-lavender);
    border-radius: 0.5rem;
}

.dropdown .dropdown-submenu {
    position: relative;
    left: 100%;
    top: -100px;
}


/* Button */
.btn {
    border: 2px solid var(--midnight-blue);
    background: transparent;
    padding: 6px 16px;
    font-size: 1.5rem;
    color: var(--midnight-blue);
    background: var(--eucalyptus);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
    font-family: 'Cormorant SC', serif !important;
}

.btn:hover {
    color: var(--eucalyptus);
    background: url('./assets/menu_hover.png') center bottom no-repeat;
    border: 2px solid var(--eucalyptus)
}

/* ------------------------------------------------------------- *
 * Footer
/* ------------------------------------------------------------- */
#footer {
    position: fixed;
    bottom: 0;
    font-size: .75rem;
    width: 100%;
    padding: 15px 0;
    background: var(--footer-background);
    box-shadow: 2px 2px 10px 2px var(--eucalyptus);
    color: var(--lt-lavender);
}

#footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#footer .footer-site-info a {
    color: var(--eucalyptus);
    text-decoration: none;
}

#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: var(--eucalyptus);
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: var(--eucalyptus);
    padding-top: 15px;
}

#footer ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: var(--eucalyptus);
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: var(--eucalyptus);
    padding-top: 15px;
}
#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid var(--eucalyptus);
    border-right: 1px solid var(--eucalyptus);
}


navigation li a, .custom-footer, .custom-footer li a {
    color: var(--eucalyptus);
    padding-top: 15px;
}

/* Footer social icons */

#footer-socials {
    text-align: right;
}

#footer-socials .socials {
    text-align: right;
    margin: 0 -5px;
    display: inline-block;
    vertical-align: middle;
}

#footer-socials .socials a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--eucalyptus);
    box-shadow: 5px 10px 16px rgb(100,149,237,0.4), -5px -5px 10px rgba(100,149,237, 0.06), inset 14px 14px 26px rgb(100,149,237,0.3), inset -5px -5px 15px rgba(100,149,237, 0.05);
}

#footer-socials .socials img {
    display: inline-block;
    font-weight: normal;
    width: 1.5rem;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}
#footer-socials a:hover {
    border-radius: 50%;
    box-shadow: 0 0px 20px rgba(0, 139, 139, 0.7);
    border-color: rgba(64, 224, 208, 0.61);
    background: linear-gradient(to top right, rgba(0, 255, 255, 0.5), #191970, rgba(0, 255, 255, 0.75));
}

#footer a:hover {
    color: white;
}

/* ===========================================================
                        HOME PAGE
 ========================================================== */

/* Slider */
.carousel {
    position: relative;
    width: 60rem;
    height: 40rem;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 2px 2px 15px 10px rgba(68,215,168,0.3);
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
    opacity: 1;
}
.slide {
    float: right;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--lt-blue);
    text-align: center;
    transition: opacity 0.4s;
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide:before {
    content: attr(annot);
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    font-weight: 300;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.3s;
    text-shadow: 0 0 1px #000;
}
.slide:after {
    content: attr(slide);
    display: block;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s;
    width: 100%;
    height: 80px;
    opacity: 0;
    background: var(--hover-box);
    box-shadow: inset 2px 2px 15px 1px var(--eucalyptus);
    text-align: center;
    text-indent: 550px;
    line-height: 101px;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 1px #000;
}
.counter {
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 20px;
    width: 615px;
    z-index: 2;
    text-align: center;
    color: #fff;
    line-height: 21px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}
.faux-ui-facia {
    top: 0;
    right: 0;
    float: right;
    position: absolute;
    margin-top: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.faux-ui-facia:checked {
    z-index: 8;
}
.faux-ui-facia:checked + .slide {
    opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
    z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
    float: left;
    z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
    opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
    float: left;
    z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
    opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
    z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
    opacity: 1;
}
/* --- Intro text --- */
.intro {
    padding: 80px 0 60px 0;
    text-align: center;
    color: #fff;
    margin: auto;
    width: 800px;
}
.intro .intro__title {
    font-weight: 200;
    font-size: 32px;
    color: #fff;
}
.intro .intro__body {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    opacity: 0.48;
    padding: 0 160px;
    margin: 0;
}
