/* ====== General ====== */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: var(--midnight-blue) !important;
    font-family: 'Cormorant SC', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/************ Navbar Css ************/
header {
    height: 75px;
    box-shadow: 5px 3px 25px 10px var(--eucalyptus);
    color: var(--lt-lavender);
}

.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    background: var(--nav-background);
    font-family: 'Cormorant SC', serif !important;
}

.logo {
    width: 5rem;
    margin-right: 25px;
    margin-top: 10px;
}

.menus {
    display: flex;
    list-style: none;
    font-family: 'Cormorant SC', serif !important;
}

.menu-items {
    position: relative;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Cormorant SC', serif !important;
}

.menu-items a {
    display: block;
    font-size: 1.5rem;
    color: var(--lt-lavender);
    text-decoration: none;
    font-family: 'Cormorant SC', serif !important;
}

.menu-items button {
    font-size: 1.5rem;
    color: var(--lt-lavender);
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-family: 'Cormorant SC', serif !important;
}

.menu-items a,
.menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: var(--eucalyptus);
    color: var(--midnight-blue);
    border: 2px solid var(--primary-cyan);
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}

.dropdown {
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: var(--lt-blue);
    border-radius: 0.5rem;
    display: none;
}

.dropdown.show {
    display: block;
}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

/* Button */
.btn {
    border: 2px solid var(--midnight-blue);
    background: transparent;
    padding: 6px 16px;
    font-size: 1.5rem;
    color: var(--midnight-blue);
    background: var(--eucalyptus);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
    font-family: 'Cormorant SC', serif !important;
}

.btn:hover {
    color: var(--eucalyptus);
    background: var(--midnight-blue);
    border: 2px solid var(--eucalyptus)
}

/* ------------------------------------------------------------- *
 * Footer
/* ------------------------------------------------------------- */

#footer {
    background-color: var(--nav-background);
    font-weight: 400;
    width: 100%;
}
.footer-inner {
    padding-top: 17px;
    padding-bottom: 17px;
}
@media (min-width : 991px) {
    .footer-inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Footer copyright */
#footer .copyright {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 12px;
}

/* Footer social icons */
#footer .social-icons {
    display: inline;
    margin-top: 7px;
    text-align: right;
}

#footer .social-icons img {
    width: 2.5rem;
    padding: 0 1rem;
}
@media (max-width : 992px) {
    #footer .social-icons {
        padding-right: 30px;
    }
}
@media (max-width : 767px) {
    #footer .social-icons {
        text-align: left;
    }
}